<link rel="stylesheet" href="/css/csv.css" />
<div id="export-csv">
  <a href="/csv/download"><button id="export-csv-btn">Download CSV</button></a>
</div>
<table id="csv">
  <thead>
    <tr>
      <% for(key of keys) { %>
      <th><%= key %></th>
      <% } %>
    </tr>
  </thead>
  <tbody>
    <% for(item of data){ %>
    <tr>
      <% for(key of keys) { %>
      <td><%=item[key]%></td>
      <% } %>
    </tr>
    <% }%>
  </tbody>
</table>
<!-- <table id="csv">
  <thead>
    <tr>
      <th>
        Student Id
      </th>
      <th>
        Student Name
      </th>
      <th>
        Student College
      </th>
      <th>
        Student Status
      </th>
      <th>
        DSA Final Score
      </th>
      <th>
        WebD Final Score
      </th>
      <th>
        React Final Score
      </th>
      <th>
        Interview Date
      </th>
      <th>
        Interview Company
      </th>
      <th>
        Interview Result
      </th>
    </tr>
  </thead>
  <tbody>
    <% for(item of data){ %>
    <tr>
      <td>
        <%= item.studentId %>
      </td>
      <td>
        <%= item.studentName %>
      </td>
      <td>
        <%= item.studentCollege %>
      </td>
      <td>
        <%= item.studentStatus %>
      </td>
      <td>
        <%= item.dsaFinalScore %>
      </td>
      <td>
        <%= item.webdFinalScore %>
      </td>
      <td>
        <%= item.reactFinalScore %>
      </td>
      <td>
        <%= item.interviewDate %>
      </td>
      <td>
        <%= item.interviewCompany %>
      </td>
      <td>
        <%= item.interviewResult %>
      </td>
    </tr>
    <% }%>
  </tbody>
</table> -->
